@import '~knacss/sass/knacss.scss';

h1{
  margin: 0 auto;
}
h1,h2{
  display: inline-block;
  background: #96663e;
}
.demiFeuille{
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
span.small{
  font-size: 80%;
}
.groupMatos{
  display: flex;
}
.competence{
  display: flex;
  .containerCompTitre{
    h2{
      margin: 0 0 0 50px;
    }
    display: flex;
    align-items: center;
    width: 30%;
  }
  li{
    list-style: none;
    width: 60px;
    height: 60px;
    background: #bc9268;
    margin: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.ligneTotal input{
  height: 80%;
  margin-top: 4%;
}
.ligneMission{
  display: flex;
}
body{
  background: #e4cba2;
}